.sort {
  position: relative;
}
.sortlabel {
  display: flex;
  align-items: center;
}
.popularity {
  color: #fe5f1e;
  border-bottom: 1px dashed #fe5f1e;
  cursor: pointer;
}
.sortpopup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}
.price {
  padding: 12px 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(254, 95, 30, 0.05);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.active {
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #fe5f1e;
  &:hover,
  &:focus {
    background-color: rgba(254, 95, 30, 0.05);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.svg {
  margin-right: 8px;
}
